.profile {
  width: 380px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(228, 238, 245);
}

.description {
  padding: 24px;
}

.avatar {
  width: 90px;
  border-radius: 50px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.tag,
.location {
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: #acabab;
  padding: 10px;
  color: black;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}
