.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  text-align: center;
  background-color: white;
  border: 3px solid #000000;
  border-radius: 12px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin: 5px 0;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

.online {
  color: green;
}

.offline {
  color: rgb(217, 18, 18);
}

.avatar {
  width: 58px;
}

.name {
  font-weight: bold;
}
