.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  text-align: center;
  background-color: white;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin-bottom: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: rgb(217, 18, 18);
}

.avatar {
  width: 58px;
}

.name {
  font-weight: bold;
}
